html {
  font-size: 100%;
}
body {
  cursor: url('../images/Normal.svg'),auto; 
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  color: #666666;
  padding: 0;
}
/**************************************/

/**************************************/
#back-to-top-btn{
  position:fixed;
  bottom:20px;
  right:20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color:#333;
  cursor: pointer;
  outline:none;
  border:3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
.tictac{
  display: flex;
  align-items: center;
  justify-content: center;
}
#back-to-top-btn :hover, #back-to-top-btn:focus{
  background-color: #f6f6f6;
  opacity: .5;
  color:#fff;
}
.reveal{
  position: relative;
  transform: (150px);
  opacity: 0;
  transition: all 3s ease;
}
.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
.lkow {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.lkow.show {
  opacity: 1;
  transform: none;
}

.twak1 {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s, transform 0.5s;
}
.message {
  text-align: center;
  font-size: 18px;
  margin-top: 200px;
}
.conto {
  position: sticky;
  /* border: 1px solid black; */
  padding: 20px;
}

.righto {
  position: sticky;
  top: 0;
  right: 0;
  position: sticky;
  top: 0;
  float: right;
  /* width: 200px; /* Adjust the width as needed */
}
.textotalko{
  text-align: center;
  font-size: smaller;
}

/* skillsko */
.skills{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: auto;
  /* background: #7d2ae8; */
}
.skills1{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: auto;
  /* background: #7d2ae8; */
}
.contantootiner{
  display: flex;
  width: 168px;
  padding: 20px 0;
  border-radius: 3px;
  background: #fff;
  row-gap: 12px;
  flex-direction: column;
  align-items: center;
}
.contantootiner1{
  display: flex;
  width: 168px;
  padding: 20px 0;
  border-radius: 3px;
  background: #fff;
  row-gap: 12px;
  flex-direction: column;
  align-items: center;
}
.circular-progress{
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: conic-gradient(#c6c6c6 3.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress1{
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: conic-gradient(#c6c6c6 3.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress::before{
  content: "";
  position: absolute;
  height: 84px;
  width: 84px;
  border-radius: 50%;
  background-color: #fff;
}
.circular-progress1::before{
  content: "";
  position: absolute;
  height: 84px;
  width: 84px;
  border-radius: 50%;
  background-color: #fff;
}
.progress-value{
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
.progress-value1{
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
.textooooit{
  font-size: 12px;
  font-weight: 125;
  color: #000;
  font-style: bold;
}
.textooooit1{
  font-size: 12px;
  font-weight: 125;
  color: #000;
  font-style: bold;
}
/* skillsko */
.contento {
  display: block;
}

@media only screen and (max-width: 767px) {
  .contento {
    display: none;
  }
}
.twak1.show {
  opacity: 1;
  transform: translateX(0);
}

.tapper1 {
  margin-left: auto;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s;
}

.tapper1.show {
  opacity: 1;
  transform: translateX(0);
}

.tapper1{
  /* margin:  auto;
  width: auto; */
  float: right;
  margin-left: auto;
  align-content: right;
  align-self: right;
  text-align: right;
  /* border: 3px solid #c6c6c6;
  border-radius: 10px; */
}
.twak2 {
  align-items: right;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s, transform 0.5s;
}

.twak2.show {
  opacity: 1;
  transform: translateX(0);
}

.tapper2 {
  opacity: 0;
  margin-left: auto;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s;
}

.tapper2.show {
  opacity: 1;
  margin-left: auto;
  transform: translateX(0);
}

.tapper2{
  margin-left: auto;
  /* margin:  auto;
  width: auto; */
  float: right;
  align-items: right;
  align-content: right;
  align-self: right;
  text-align: right;
  /* border: 3px solid #c6c6c6;
  border-radius: 10px; */
}
.twak3 {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s, transform 0.5s;
}

.twak3.show {
  opacity: 1;
  transform: translateX(0);
}

.tapper3 {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s;
}

.tapper3.show {
  opacity: 1;
  transform: translateX(0);
}

.tapper3{
  /* margin:  auto;
  width: auto; */
  float: right;
  align-items: right;
  align-content: right;
  align-self: right;
  text-align: right;
  /* border: 3px solid #c6c6c6;
  border-radius: 10px; */
}
.twak4 {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s, transform 0.5s;
}

.twak4.show {
  opacity: 1;
  transform: translateX(0);
}

.tapper4 {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s;
}

.tapper4.show {
  opacity: 1;
  transform: translateX(0);
}

.tapper4{
  /* margin:  auto;
  width: auto; */
  float: right;
  align-items: right;
  align-content: right;
  align-self: right;
  text-align: right;
  /* border: 3px solid #c6c6c6;
  border-radius: 10px; */
}
.twak5 {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s, transform 0.5s;
}

.twak5.show {
  opacity: 1;
  transform: translateX(0);
}

.tapper5 {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s;
}

.tapper5.show {
  opacity: 1;
  transform: translateX(0);
}

.tapper5{
  /* margin:  auto;
  width: auto; */
  float: right;
  align-items: right;
  align-content: right;
  align-self: right;
  text-align: right;
  /* border: 3px solid #c6c6c6;
  border-radius: 10px; */
}
.twak6 {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s, transform 0.5s;
}

.twak6.show {
  opacity: 1;
  transform: translateX(0);
}

.tapper6 {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s;
}

.tapper6.show {
  opacity: 1;
  transform: translateX(0);
}

.tapper6{
  /* margin:  auto;
  width: auto; */
  float: right;
  align-items: right;
  align-content: right;
  align-self: right;
  text-align: right;
  /* border: 3px solid #c6c6c6;
  border-radius: 10px; */
}
.video-player {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}



.video-container {
  position: relative;
  cursor: pointer;
}

.video-image {
  width: 100%;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 48px;
  z-index: 1;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.5s ease-in-out;
  z-index: 9999;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.exit-theater {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#video {
  width: 90%;
  max-width: 800px;
  animation: fadeIn 0.5s ease-in-out;
}



.topspace {
  margin-top: 40px;
}
/*********************************************************************


                            Navigation in header


**********************************************************************/
.header{
  align-items: center;
}
.navbar {
  border-width: 1px 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  width: 100%;
}
.navbar.stick {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .85;
}
.navbar-collapse {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.navbar-collapse .navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.navbar-collapse .navbar-nav > li {
  float: none;
  display: inline-block;
}
.navbar-collapse .navbar-nav > li > a {
  padding: 20px 30px;
}
.dropdown ul.dropdown-menu {
  top: 85%;
  text-align: left;
}
.dropdown ul.dropdown-menu > li > a {
  padding: 5px 30px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #cccccc;
}
.navbar-default .navbar-nav > li > a {
  color: #454545;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .dropdown ul.dropdown-menu > li > a {
  color: #454545;
}
.navbar-default .dropdown ul.dropdown-menu > li > a:hover {
  background-color: #eeeeee;
  color: #000000;
}
.navbar-default .navbar-toggle {
  /* position:absolute; */
  border-color: #666666;
  flex-direction:column;
  justify-content: space-between;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #333333;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cccccc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #ffffff;
  color: #000000;
}
/****************************************************************************************


                                     Sidebar special Nav


*****************************************************************************************/
.nav-side {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: -0.37em;
}
.nav-side > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #f392b4;
}
.nav-side > li > a:hover {
  color: #bd1550;
  background: none;
}
.nav-side > li.active > a {
  color: #bd1550;
}
/*********************************************************************


                                TYPOGRAPHY


**********************************************************************/
p {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}
ul,
ol {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333333;
}
h1 {
  font-size: 40px;
  font-size: 2.5rem;
}
h2 {
  font-size: 36px;
  font-size: 2.25rem;
}
h3 {
  font-size: 30px;
  font-size: 1.875rem;
}
h4 {
  font-size: 24px;
  font-size: 1.5rem;
}
h5 {
  font-size: 20px;
  font-size: 1.25rem;
}
a {
  color: #000;
}
a:hover {
  /* color: #271e1e; */
}
.lead {
  font-weight: 300;
  font-size: 21px;
  font-size: 1.3125rem;
}
.text-msg {
  line-height: 1.7em;
  color: #b3b3b3;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
/*********************************************************************


                                HEADER


**********************************************************************/
#head {
  background: #f4f4f4 url(../images/bg_head.jpg) top center;
  background-size: cover;
  color: #7C7C7C;
  padding: 30px 0 35px 0;
}
#head img.img-circle {
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}
#head .title {
  font-family: Alice, Georgia, serif;
  font-size: 49px;
  font-size: 3.0625rem;
}
#head .title a {
  text-decoration: none;
  color: #333333;
}
#head .tagline {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2em;
  color: #7C7C7C;
  margin: 5px 0 0;
}
#head .tagline b {
  font-weight: normal;
}
#head .tagline a {
  color: #5E5E5E;
}
.home #head {
  padding: 90px 0;
}
.home #head .title {
  font-size: 49px;
  font-size: 3.0625rem;
}
.home #head .tagline {
  font-size: 16px;
  font-size: 1rem;
  margin: 15px 0 0;
}
/*********************************************************************


                                CONTENT


**********************************************************************/
img {
  max-width: 100%;
}
.btn {
  font-size: 12px;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 0 none;
  padding: 12px 35px;
  text-shadow: 0 1px 0px #780d33;
}
.btn-primary {
  color: #fff;
  background-color: #bd1550;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #e61f65;
}
.btn-action {
  font-weight: bold;
  background: transparent!important;
  border: 1px solid #333;
  text-shadow: none;
}
.btn-action:hover,
.btn-action:focus,
.btn-action:active,
.btn-action.active {
  color: #bd1550;
  border-color: #bd1550;
}
.btn-lg {
  padding: 15px 60px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: bold;
}
.panel-cta {
  box-shadow: 0 0 0 1px #e1e1e1, 0 0 0 3px #fff, 0 0 0 4px #e1e1e1;
  background: #f3f3f3;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  float:center;
}
.panel-cta p,
.panel-cta h3,
.panel-cta h4,
.panel-cta h5,
.panel-cta h6 {
  margin: 0;
  float:center;
}
.panel-cta .panel-body {
  padding: 35px;
  float:center;
}
/* Section - Featured */
.featured {
  font-size: 13px;
  font-size: 0.8125rem;
}
.featured h3 {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.4em;
  vertical-align: middle;
  margin: 0 0 25px 0;
}
/* Section - Recent works */
.thumbnails {
  padding: 0;
}
.thumbnails li {
  margin-bottom: 30px;
}
.thumbnails .details {
  display: block;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}
.thumbnail {
  display: block;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: 0 none;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #333;
}
.thumbnail .img {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 180px;
  margin: 0 0 20px;
  position: relative;
}
.thumbnail .title {
  text-transform: uppercase;
  margin: 0 2em;
  display: block;
  text-indent: 0;
}
.thumbnail .cover {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 550ms;
  -moz-transition-duration: 550ms;
  -o-transition-duration: 550ms;
  transition-duration: 550ms;
}
.thumbnail .cover .more {
  position: absolute;
  bottom: 15px;
  right: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  -webkit-border-radius: 1px 0 0 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px 0 0 1px;
  -moz-background-clip: padding;
  border-radius: 1px 0 0 1px;
  background-clip: padding-box;
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-shadow: 0 1px 0px #780d33;
  background: #bd1550;
  color: white;
}
.thumbnail img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.thumbnail:hover {
  color: #333;
  text-decoration: none;
}
.thumbnail:hover img {
  -webkit-filter: saturate(0%);
}
/* porjec */
:root{
  --bg-color: #c6c6c6;
  --second-bg-color: #c6c6c6;
  --text-color:#fff;
  --main-color:#ad1f1f;
}
/* kjk */
.btnsoibl2{
  /* margin-top: 20px;
  margin-bottom: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  
}
.btnsoibl2 buttonoibl2{
  background: #8f3232;
  width: 100%;
  padding: 1px -8px;
  outline: none;
  border: 3.5px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
  font-family: Castellar;
  transition: all 0.3s linear;
  /* box-shadow: inset 4px 4px 6px -1px rgba(198, 198, 198, 0.15), inset -4px -4px 6px -1px rgba(83, 80, 80, 0.7), -0.5px -0.5px 0px rgba(73, 67, 67, 0.15), 0.5px 0.5px 0px rgba(83, 80, 80, 0.7), 0px 12px 10px -10px rgba(83, 80, 80, 0.7); */
}
.btnsoibl2:hover buttonoibl2{
  background: #000000;
  width: 100%;
  padding: 1px -8px;
  outline: none;
  border: 3.5px solid #4625b5;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
  /* font-family: Century Gothic; */
  transition: all 0.3s linear;
  box-shadow: inset 4px 4px 6px -1px rgba(198, 198, 198, 0.15), inset -4px -4px 6px -1px rgba(83, 80, 80, 0.7), -0.5px -0.5px 0px rgba(73, 67, 67, 0.15), 0.5px 0.5px 0px rgba(83, 80, 80, 0.7), 0px 12px 10px -10px rgba(83, 80, 80, 0.7);
}
.btnsoibl2 buttonoibl2{
  background: #898585;
  margin-right: 0px;
}

/* kjka */
/* .portfolio{
  /* background: var(--second-bg-color); */
  /* box-shadow: 6px 6px 10px -1px rgba(73, 67, 67, 0.15), -6px -6px 10px -1px rgba(83, 80, 80, 0.7); */
  /* box-shadow: inset 4px 4px 6px -1px rgba(198, 198, 198, 0.15), inset -4px -4px 6px -1px rgba(83, 80, 80, 0.7), -0.5px -0.5px 0px rgba(73, 67, 67, 0.15), 0.5px 0.5px 0px rgba(83, 80, 80, 0.7), 0px 12px 10px -10px rgba(83, 80, 80, 0.7); */
/* } */
.portfolio-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* box-shadow: 6px 6px 10px -1px rgba(73, 67, 67, 0.15), -6px -6px 10px -1px rgba(83, 80, 80, 0.7); */
  /* box-shadow: inset 4px 4px 6px -1px rgba(198, 198, 198, 0.15), inset -4px -4px 6px -1px rgba(83, 80, 80, 0.7), -0.5px -0.5px 0px rgba(73, 67, 67, 0.15), 0.5px 0.5px 0px rgba(83, 80, 80, 0.7), 0px 12px 10px -10px rgba(83, 80, 80, 0.7); */
  
}
.portfolio-container .portfolio-box{
  position: relative;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.4rem var(--bg-color);
  overflow: hidden;
  display: flex;
  box-shadow: 6px 6px 10px -1px rgba(73, 67, 67, 0.15), -6px -6px 10px -1px rgba(83, 80, 80, 0.7);
  /* box-shadow: inset 4px 4px 6px -1px rgba(198, 198, 198, 0.15), inset -4px -4px 6px -1px rgba(83, 80, 80, 0.7), -0.5px -0.5px 0px rgba(73, 67, 67, 0.15), 0.5px 0.5px 0px rgba(83, 80, 80, 0.7), 0px 12px 10px -10px rgba(83, 80, 80, 0.7); */
}
.portfolio-box img {
  width: 100%;
  transition: .5s ease;
}
.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191818;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1.6rem;
  transform: translateY(100%);
  transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
.portfolio-layer h4{
  font-size: 1.2rem;
  color: #fff;
}
.portfolio-layer p{
  font-size: 0.98rem;
  margin: .12rem 0 0.4rem;
  color: #fff;
}
.portfolio-layer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: #fff;
  border-radius: 50%;
}
.portfolio-layer a i {
  font-size: 0.8rem;
  /* color: #fff; */
}
/* porjec */
.thumbnail:hover .cover {
  opacity: 1;
}
/* pagination */
.pagination > li > a {
  color: #808080;
  border: 0 none;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: Georgia, serif;
}
.pagination > li > a:hover {
  color: #000000;
  background: none;
}
.pagination > li.active > a {
  color: #333333;
  background: none;
}
.pagination > li.active > a:hover {
  color: #000000;
  background: none;
}
/*********************************************************************


                                 BLOG


**********************************************************************/
.section-title,
.entry-title {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0px 0 25px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 36px;
  font-size: 2.25rem;
  letter-spacing: 1px;
}
.section-title a,
.entry-title a {
  color: #333333;
}
.section-title span,
.entry-title span {
  display: inline-block;
  position: relative;
}
.section-title span:before,
.entry-title span:before,
.section-title span:after,
.entry-title span:after {
  content: "";
  position: absolute;
  height: 4px;
  top: .53em;
  width: 400%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.section-title span:before,
.entry-title span:before {
  right: 100%;
  margin-right: 45px;
}
.section-title span:after,
.entry-title span:after {
  left: 100%;
  margin-left: 45px;
}
.entry-header .entry-meta {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: normal;
  color: #a5a5a5;
  margin: 0 0 15px 0;
}
.entry-header .entry-meta a {
  color: #a5a5a5;
}
.entry-content {
  margin: 0 0 60px 0;
}
.entry-content h2 {
  line-height: 1.2;
  font-size: 30px;
  font-size: 1.875rem;
  padding-top: 20px;
  margin-bottom: 20px;
}
.meta-nav,
.more-link {
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}
.meta-nav:hover,
.more-link:hover {
  color: #333333;
  text-decoration: underline;
}
.more-link {
  display: block;
  width: 100%;
  text-align: right;
}
/* Posts navigation */
#nav-below {
  position: fixed;
  top: 48%;
}
#nav-below .meta-nav {
  display: block;
  padding: 27px 7px;
  background: #444;
  color: #fff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  opacity: 0.2;
}
#nav-below .meta-nav:hover {
  text-decoration: none;
  color: #333;
}
#nav-below .nav-next {
  position: fixed;
  right: -3px;
}
#nav-below .nav-previous {
  position: fixed;
  left: -3px;
}
#nav-below b {
  display: none;
}
footer.entry-meta {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 35px 0;
  padding: 2px 0;
  color: #888888;
  font-size: 12px;
  font-size: 0.75rem;
}
footer.entry-meta a {
  color: #333333;
}
footer.entry-meta .meta-in {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
  text-align: left;
}
.page-header .page-title {
  margin-top: 0;
  margin-bottom: 30px;
}
/*********************************************************************


                                COMMENTS


**********************************************************************/
#comments {
  font-size: 13px;
  font-size: 0.8125rem;
}
#comments .comments-title {
  margin: 0 0 5px 0;
}
#comments .leave-comment {
  display: block;
  margin: 0 0 40px 0;
}
#comments ul,
#comments ol {
  margin: 0;
  padding: 0;
}
#comments .comment {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}
#comments .comments-title {
  text-shadow: none;
  margin-bottom: 0;
}
#comments .avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  border: 5px solid #eeeeee;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
#comments .children {
  margin: 0 0 0 90px;
}
#comments .comment-meta {
  margin: 0 0 0 90px;
}
#comments .comment-meta a {
  color: #333333;
}
#comments .comment-meta a:hover {
  color: #bd1550;
}
#comments .comment-meta .author {
  margin: 0 20px 0 0;
  font-weight: bold;
}
#comments .comment-meta .date {
  margin: 0 20px 0 0;
}
#comments .comment-meta .date a {
  color: #666666;
}
#comments .comment-meta .reply {
  float: right;
}
#comments .comment-body {
  margin: 0 0 35px 90px;
}
.comment-navigation {
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 2px 0 0 0;
}
.comment-navigation .nav-content {
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 10px 0 0 0;
}
.comment-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next {
  float: right;
  width: 50%;
  text-align: right;
}
#respond {
  margin: 55px 0 0 0;
}
/*********************************************************************


                                FOOTER


**********************************************************************/
#footer {
  background: #232323;
  padding: 30px 0 0 0;
  font-size: 12px;
  color: #999;
}
#footer a {
  color: #ccc;
}
#footer a:hover {
  color: #fff;
}
#footer h3.widget-title {
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #ccc;
  margin: 0 0 20px;
}
#underfooter {
  background: #191919;
  padding: 15px 0;
  color: #777;
  font-size: 12px;
}
#underfooter a {
  color: #aaa;
}
#underfooter a:hover {
  color: #fff;
}
#underfooter p {
  margin: 0;
}
.follow-me-icons {
  font-size: 30px;
}
.follow-me-icons i {
  float: center;
  margin: 0 10px 0 0;
}
/* Max page width
/////////////////////////////////////////////////////////////////////*/
@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}
.ghuma{
  position: relative;
  width: 470px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items:center;
  margin:0 auto;
  padding: 50px;
}
.ghuma span:nth-child(1){
  position: absolute;
  top: 0;
  left: 0;
  width:470px;
  height:480px;
  border: 7.5px solid darkgray;
  border-radius: 38% 63% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate 6s linear infinite;
  background-color: lightgrey;
}
.ghuma:hover span:nth-child(1){
  border:none;
  background-color: darkgray;
  border: 15px solid lightgray;
  animation: animate 6s linear infinite alternate-reverse;
}
.ghuma span:nth-child(2){
  position: absolute;
  top: 0;
  left:0;
  width:470px;
  height:480px;
  border: 7.5px solid darkgray;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate 4s linear infinite;
  background-color: lightgrey;
}
.ghuma:hover span:nth-child(2){
  border:none;
  background-color: darkgray;
  border: 15px solid lightgray;
  animation: animate 4s linear infinite alternate-reverse;
}
.ghuma span:nth-child(3){
  position: absolute;
  top: 0;
  left:0;
  width: 470px;
  height:480px;
  border: 7.5px solid darkgray;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate2 10s linear infinite;
  background-color: lightgrey;
}
.ghuma:hover span:nth-child(3){
  border:none;
  background-color: darkgray;
  border: 15px solid lightgray;
  animation: animate2 10s linear infinite alternate-reverse;
}
@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes animate2{
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.content{
  position:relative;
  padding:40px 60px;
  transition: 0.5s;
  z-index:1000;
}

.vitra{
  background-color: darkgray;
  width: 100px;
  border: 2px solid black;
  margin: 0 auto;
  
}
.vitra:hover{
  background-color: rgb(131, 130, 130);
  width: 150px;
  align-items: center;
  border: 2px solid black;
  margin: 0 auto;
  justify-content: center;
  
}

.content{
  position: relative;
  
}
.content :hover{
  color:#fff;
}
/*cursor*/

/*cursor*/
/******** Back to Top CSS *********/
/*
.back-to-top {
  position:fixed;
  bottom:800px;
  right:40px;
  width:60px;
  height:60px;
  background-color: #fff (up.png);
  border-radius:50%;
  background-size:40px;
  background-position:center;
  background-repeat: no-repeat;
  cursor:pointer;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: 0.5$;

}
.back-to-top.active{
  bottom:40px;
  visibility: visible;
  opacity: 1;
}*/
/*cursor*/
.cursor{
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  transition: .04s;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: cursorAnim .0s infinite alternate;
}
.cursor2{
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .06s;
  animation: cursonAnim2 .0s infinite alternate;
}
#back-to-top-btn :hover ~ .cursor, #back-to-top-btn:focus ~.cursor{
  transform: translate(-50%, -50%) scale(1.5);
  background-color: #fff;
  opacity: .5;
}
#back-to-top-btn :hover ~ .cursor, #back-to-top-btn:focus ~.cursor2{
  opacity: 0;
}
@keyframes cursorAnim{
  from{
    transform:scale(1);
  }
  to{
    transform: scale(.7)
  }
}
@keyframes cursorAnim2{
  from{
    transform:scale(1);
  }
  to{
    transform: scale(.4)
  }
}

.expand{
  animation: cursorAnim3 .5s forwards;
  border: 1px solid red;

}
@keyframes cursorAnim3{
  0% {
    transform:scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*mutu*/
.mutu {
	font-size: 18px;
	color: #e00;
	animation: beat .25s infinite alternate;
	transform-origin: center;
} 
@keyframes beat{
  0%{
    font-size:22px;
    color:#e00;
    animation: beat .25s infinite alternate;
    transform-origin:center;
  }
  50%{
     font-size:19px;
    color:#e00;
    animation: beat .25s infinite alternate;
    transform-origin:center;
  }
  100%{
    font-size:18px;
    color:#e00;
    animation: beat .25s infinite alternate;
    transform-origin:center;
  }
  
}
.card { 
  max-width: 420px;
  height: auto;
  width:auto;
  justify-content: center;
  align-items:center;
  margin:0 auto;
  text-align: justify;
  /* padding: 50px; */
  border-radius: 50px;
  background : #c6c6c6;
  box-shadow: 30px 30px 80px yellow,
  -20px -20px 60 yellow;
}
.cardiod { 
  /* max-width: 420px; */
  height: auto;
  width:auto;
  justify-content: center;
  align-items:center;
  margin:0 auto;
  text-align: justify;
  /* padding: 50px; */
  border-radius: 2%;
  background : #c6c6c6;
  box-shadow: 30px 30px 80px yellow,
  -20px -20px 60 yellow;
}
.inner-card {
  background-color: #4f4f4f;
  /* border: 1px solid #ccc; */
  justify-content: center;
  align-items:center;
  margin:0 auto;
  text-align: left;
  /* padding: 50px; */
  /* border-radius: 50px; */
  /* background : #c6c6c6; */
  box-shadow: 30px 30px 80px black,
  -20px -20px 60 black;
  border-radius: 5px;
  /* padding: 10px; */
  width: auto;
  max-width: 320px;
  /* box-shadow: 0 0 5px #ccc; */
}
.card :hover {
  color:white;
  background-color: #605e5e;
}
.inner-card :hover{
  color:white;
  background-color: #000000;
}
#contan {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width:auto; */
}

.tauko {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color:#fff;
}

.text {
  font-size: 18px;
  color: #e9e8e8;
}
.heart-beat{-webkit-animation:heart-beat 2s ease infinite;animation:heart-beat 2s ease infinite;color:#ff3932!important}@-webkit-keyframes heart-beat{0%{-webkit-transform:scale(1);transform:scale(1)}5%{-webkit-transform:scale(1.25);transform:scale(1.25)}20%{-webkit-transform:scale(1);transform:scale(1)}30%{-webkit-transform:scale(1);transform:scale(1)}35%{-webkit-transform:scale(1.25);transform:scale(1.25)}50%{-webkit-transform:scale(1);transform:scale(1)}55%{-webkit-transform:scale(1.25);transform:scale(1.25)}70%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes heart-beat{0%{-webkit-transform:scale(1);transform:scale(1)}5%{-webkit-transform:scale(1.25);transform:scale(1.25)}20%{-webkit-transform:scale(1);transform:scale(1)}30%{-webkit-transform:scale(1);transform:scale(1)}35%{-webkit-transform:scale(1.25);transform:scale(1.25)}50%{-webkit-transform:scale(1);transform:scale(1)}55%{-webkit-transform:scale(1.25);transform:scale(1.25)}70%{-webkit-transform:scale(1);transform:scale(1)}}@media(min-width:1920px){body{font-size:15px}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
/*top*/
}
.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #2f2f2f;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #454545;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #3d3d3d;
  outline: none;
}

input:invalid,
textarea:invalid,
select:invalid {
  border-color: #060606;
}

input:valid,
textarea:valid,
select:valid {
  border-color: #f0f1f8;
}
/* contac */
.contackobod{
  min-height: 570px;
  width: 100%;
  background: #c6c6c6;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 10px -1px rgba(73, 67, 67, 0.15), -6px -6px 10px -1px rgba(83, 80, 80, 0.7);
}
.chk{
  box-shadow: 6px 6px 10px -1px rgba(73, 67, 67, 0.15), -6px -6px 10px -1px rgba(83, 80, 80, 0.7);
}
.containori{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.containori .contentori{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containori .contentori .left-sidori{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.contentori .left-sidori::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.contentori .left-sidori .detailsori{
  margin: 14px;
  text-align: center;
}
.contentori .left-sidori .detailsori i{
  font-size: 30px;
  color: #3f3f3f;
  margin-bottom: 10px;
}
.contentori .left-sidori .detailsori .topicori{
  font-size: 18px;
  font-weight: 500;
}
.contentori .left-sidori .detailsori .text-oneori,
.contentori .left-sidori .detailsori .text-twoori{
  font-size: 14px;
  color: #afafb6;
}
.containori .contentori .right-sidori{
  width: 75%;
  margin-left: 75px;
}
.contentori .right-sidori .topic-textori{
  font-size: 23px;
  font-weight: 600;
  color: #000;
}
.right-sidori .input-boxori{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-sidori .input-boxori input,
.right-side .input-boxori textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-sidori .message-boxori{
  min-height: 110px;
}
.right-sidori .input-boxori textarea{
  padding-top: 6px;
}
.right-sidori .buttonori{
  display: inline-block;
  margin-top: 12px;
}
.right-sidori .buttonori input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #373636;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttonori input[type="button"]:hover{
  background: #000000;
}
@media (max-width: 950px) {
  .containori{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .containori .contentori .right-sidolri{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .containori{
    margin: 40px 0;
    height: 100%;
  }
  .containori .contentori{
    flex-direction: column-reverse;
  }
 .containori .contentori .left-sidori{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .containori .contentori .left-sidori::before{
   display: none;
 }
 .containori .contentori .right-sidori{
   width: 100%;
   margin-left: 0;
 }
}
/* contac */
/* blog */
.blogkobod{
  display: grid;
  height: 100%;
  place-items: center;
  background: #c6c6c6;
  box-shadow: 6px 6px 10px -1px rgba(73, 67, 67, 0.15), -6px -6px 10px -1px rgba(83, 80, 80, 0.7);
  border-radius: 2%;
}
.containeroibl{
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 20%;
  /* box-shadow: inset 4px 4px 6px -1px rgba(198, 198, 198, 0.15), inset -4px -4px 6px -1px rgba(83, 80, 80, 0.7), -0.5px -0.5px 0px rgba(73, 67, 67, 0.15), 0.5px 0.5px 0px rgba(83, 80, 80, 0.7), 0px 12px 10px -10px rgba(83, 80, 80, 0.7); */
}
.containeroibl .boxoibl{
  width: calc(33% - 10px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
}
.containeroibl .boxoibl1{
  width: calc(33% - 10px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
}
.boxoibl .quoteoibl i{
margin-top: 10px;
font-size: 45px;
color: #17c0eb
}
.containeroibl .boxoibl .imageoibl{
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #c6c6c6;
  padding: 3px;
  border-radius: 20%;
}
.boxoibl .imageoibl img{
  height: 100%;
  width: 100%;
  border-radius: 20%;
  object-fit: cover;
  border: 2px solid #fff;
}
.boxoibl phj{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.boxoibl .name_joboibl{
  margin: 10px 0 3px 0;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}
.ratingoibl i{
  font-size: 18px;
  color: #000000;
  margin-bottom: 5px;
}
.btnsoibl{
  /* margin-top: 20px;
  margin-bottom: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  
}
.btnsoibl buttonoibl{
  background: #363636;
  width: 100%;
  padding: 8px 0px;
  outline: none;
  border: 2px solid #171717;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #171717;
  transition: all 0.3s linear;
}
.btnsoibl buttonoibl{
  background: none;
  margin-right: 5px;
}
.btnsoibl1{
  /* margin-top: 20px;
  margin-bottom: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  
}
.btnsoibl1 buttonoibl1{
  background: #8f3232;
  width: 100%;
  padding: 1px -8px;
  outline: none;
  border: 3.5px solid #4b2282;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: all 0.3s linear;
  box-shadow: inset 4px 4px 6px -1px rgba(198, 198, 198, 0.15), inset -4px -4px 6px -1px rgba(83, 80, 80, 0.7), -0.5px -0.5px 0px rgba(73, 67, 67, 0.15), 0.5px 0.5px 0px rgba(83, 80, 80, 0.7), 0px 12px 10px -10px rgba(83, 80, 80, 0.7);
}
.btnsoibl1 buttonoibl1{
  background: #fff;
  margin-right: 0px;
}

/* .btnsoibl buttonoibl:last-child{
  color: #fff;
  margin-left: 5px;
} */
.btnsoibl buttonoibl:hover{
  background: #151515;
  color: #fff;
}
.btns button:hover{
  color: #fff;
}
@media (max-width:1045px){
  .containeroibl .boxoibl{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .containeroibl .boxoibl{
    width: 100%;
  }
}

/* blog */
/* feeedback */
.topeyk{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}
.tooti{
  display: flex;
  justify-content: center;
  align-items: center;
}
sectoni{
  position:relative;
  width: 100%;
  min-height: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c6c6c6;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 6px 6px 10px -1px rgba(73, 67, 67, 0.15), -6px -6px 10px -1px rgba(83, 80, 80, 0.7);

}
.swiper-container {
  width: 55%;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: #c6c6c6; */
  /* border-radius: 50%; */
  box-shadow: 6px 6px 10px -1px rgba(24, 24, 24, 0.15), -6px -6px 10px -1px rgba(0, 0, 0, 0.7);
  padding:20px;
  
}
.testimonialBox{
  position:relative;
  width:100%;
  padding: 40px;
  padding-top:90px;
  color:999;
  box-shadow: inset 4px 4px 6px -1px rgba(198, 198, 198, 0.15), inset -4px -4px 6px -1px rgba(83, 80, 80, 0.7), -0.5px -0.5px 0px rgba(73, 67, 67, 0.15), 0.5px 0.5px 0px rgba(83, 80, 80, 0.7), 0px 12px 10px -10px rgba(83, 80, 80, 0.7);
}
.testimonialBox .quote{
  position:absolute;
  top:20px;
  right: 30px;
  opacity: 0.2;
}
.testimonialBox .details{
  display: flex;
  align-items: center;
  margin-top: 20px;

}
.testimonialBox .details .imgBx{
  position:relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow:hidden;
  margin-right: 10px;
}
po{
  line-height: 0.2;
}
.testimonialBox .details .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  object-fit: cover;

}
.testimonialBox .details h9{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color:#2196f3;
  line-height:1.1em;

}
.testimonialBox .details h9 span{
  font-size:12px;
  color:#666;
}
.swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right{
  background-image:none;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  background:#757779;
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  filter: blur(4px);
  border-radius: 10px;
}
.swiper-slide-active{
  filter: blur(0px);
  background: #fff;
}
/* .testimonialBox{
  display: flex;
  justify-content: left;
  align-items: left;
} */
.quote{
  width: 32px;
  height:32px;
  /* background: #000000; */
}
.quote img{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
/* feedback */
/* kjankja */
.webporje{
  display: flex;
  /* padding: 0 10px; */
  align-items: center;
  justify-content: center;
  min-height: 570px;
  /* background: #17A2B8; */
}
::selection{
  color: #fff;
  background: #17A2B8;
}
.wrapperko{
  width: 770px;
  padding: 35px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.05);
}
.totlk{
  display: flex;
  /* padding: 0 10px; */
  align-items: center;
  justify-content: center;
}
.wrapperko .input-fieldko{
  opacity: 0;
  z-index: -999;
  position: absolute;
  max-width: fit-content;
}
.wrapperko .content-boxko{
  padding: 13px 20px 0;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
}
.content-boxko .typing-textko{
  overflow: hidden;
  max-height: 256px;
}
.typing-textko::-webkit-scrollbar{
  width: 0;
}
.typing-textko p{
  font-size: 21px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
}
.typing-textko p span{
  position: relative;
}
.typing-textko p span.correct{
  color: #56964f;
}
.typing-textko p span.incorrect{
  color: #cb3439;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}
.typing-textko p span.active{
  color: #17A2B8;
}
.typing-textko p span.active::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #17A2B8;
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink{
  50%{ 
    opacity: 1; 
  }
}
.content-boxko .contentko{
  margin-top: 17px;
  display: flex;
  padding: 12px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
}
.contentko buttonko{
  outline: none;
  border: none;
  width: 105px;
  color: #fff;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background: #17A2B8;
  transition: transform 0.3s ease;
}
.contentko buttonko:active{
  transform: scale(0.97);
}
.contentko .result-detailsko{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 140px);
  justify-content: space-between;
}
.result-detailsko li{
  display: flex;
  height: 20px;
  list-style: none;
  position: relative;
  align-items: center;
}
.result-detailsko li:not(:first-child){
  padding-left: 22px;
  border-left: 1px solid #bfbfbf;
}
.result-detailsko li p{
  font-size: 19px;
}
.result-detailsko li span{
  display: block;
  font-size: 20px;
  margin-left: 10px;
}
li span b{
  font-weight: 500;
}
li:not(:first-child) span{
  font-weight: 500;
}
@media (max-width: 745px) {
  .wrapperko{
    padding: 20px;
  }
  .content-boxko .contentko{
    padding: 20px 0;
  }
  .content-boxko .typing-textko{
    max-height: 100%;
  }
  .typing-textko p{
    font-size: 19px;
    text-align: left;
  }
  .contentko buttonko{
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 20px;
  }
  .contentko .result-detailsko{
    width: 100%;
  }
  .result-detailsko li:not(:first-child){
    border-left: 0;
    padding: 0;
  }
  .result-detailsko li p, 
  .result-details li span{
    font-size: 17px;
  }
}
@media (max-width: 518px) {
  .wrapperko .content-boxko{
    padding: 10px 15px 0;
  }
  .typing-textko p{
    font-size: 18px;
  }
  .result-detailsko li{
    margin-bottom: 10px;
  }
  .contentko buttonko{
    margin-top: 10px;
  }
}
/* ajkjka */
/* chess */
.chess {
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

/* h1 {
  margin: 10px;
} */

ulko {
  display: grid;
  grid-template-columns: 1fr;
}

.divv {
  display: flex;
}

liko {
  list-style: none;
  display: grid;
  place-items: center;
  font-size: 0px;
}

.box {
  margin: .5px;
  width: 75px;
  height: 75px;
}

#tog {
  margin: 10px 0px;
}


.allimg {
  width: 45px;
  position: relative;
  bottom: 5px;
}

.allpawn {
  transform: scale(.7);
}

.authcont {
  width: 100vw;
}

.author {
  float: right;
  margin-right: 50px;

}


@media (max-width:650px){

  #tog {
      margin-bottom: 70px;

  }

  .box {
      width: 11vw;
      height: 11vw;
  }

  .allimg {
      width: 7vw;
  }
}
/* chess */
/* tic */
.tictac{
  display: flex;
  align-items: center;
  justify-content: center;
}

#cont {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#smallcont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50vh;
  height: 50vh;
}

.btn1 {
  font-size: 6vmin;
  color: white;
  cursor: pointer;
  background-color: rgb(78, 79, 80);
  border-color: #000;
  border-width: 5px;
}

.btn1:hover {
  background-color: rgb(45, 46, 47);
}

/* #head {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

#head h1 {
  font-size: 6vmin;
} */


/* tac */
/* music */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
/* *::before, *::after{
  padding: 0;
  margin: 0;
} */

/* music */
/* kjklajkla */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #fff;
  background: #007bff;
}
body{
  padding: 10px;
} */
.wrapperkokira{
  margin: 100px auto;
  max-width: 1100px;
}
.wrapperkokira navkokira{
  display: flex;
  justify-content: center;
}
.wrapperkokira .items{
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}
.items span{
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #000;
  border-radius: 50px;
  border: 2px solid #2b2b2b;
  transition: all 0.3s ease;
}
.items span.active,
.items span:hover{
  color: #fff;
  background: #3e3e3e;
}

.gallerykokira{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.gallerykokira .imagekokira{
  width: calc(100% / 4);
  padding: 7px;
}
.gallerykokira .imagekokira span{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallerykokira .imagekokira img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallerykokira .imagekokira:hover img{
  transform: scale(1.1);
}
.gallerykokira .imagekokira.hide{
  display: none;
}
.gallerykokira .imagekokira.show{
  animation: animatika 0.4s ease;
}
@keyframes animatika {
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}

.preview-boxkokira{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-boxkokira.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-boxkokira .detailskokira{
  padding: 13px 15px 13px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detailskokira .titlekokira{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.detailskokira .titlekokira p{
  font-weight: 500;
  margin-left: 5px;
}
.detailskokira .icon{
  color: #000;
  font-style: 22px;
  cursor: pointer;
}
.preview-boxkokira .image-boxkokira{
  width: 100%;
  display: flex;
}
.image-boxkokira img{
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.4);
}
.shadow.show{
  display: block;
}

@media (max-width: 1000px) {
  .gallerykokira .imagekokira{
    width: calc(100% / 3);
  }
}
@media (max-width: 800px) {
  .gallerykokira .imagekokira{
    width: calc(100% / 2);
  }
}
@media (max-width: 700px) {
  .wrapperkokira navkokira .items{
    max-width: 600px;
  }
  navkokira .items span{
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .wrapperkokira{
    margin: 30px auto;
  }
  .wrapperkokira navkokira .items{
    flex-wrap: wrap;
    justify-content: center;
  }
  navkokira .items span{
    margin: 5px;
  }
  .gallerykokira .imagekokira{
    width: 100%;
  }
}

/* jlajkla */
.musickobod{
    /* background-image: linear-gradient(
      0deg,
      rgba(247, 247, 247, 1) 23.8%,
      rgba(252, 221, 221, 1) 92%
    ); */
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin: 0;
  }
  .music-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 6px 6px 10px -1px rgba(73, 67, 67, 0.15), -6px -6px 10px -1px rgba(83, 80, 80, 0.7);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
  }
  
  .img-container {
    position: relative;
    width: 110px;
  }
  
  .img-container::after {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, 50%);
  }
  
  .img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
  
    animation-play-state: paused;
  }
  
  .music-container.play .img-container img {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .action-btn {
    background-color: #fff;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
  }
  
  .action-btn.action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
  }
  
  .action-btn:focus {
    outline: 0;
  }
  
  .music-info {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
  }
  
  .music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
  }
  
  .music-info h4 {
    margin: 0;
  }
  
  .progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }
  
  .progress {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }